@model List<Product>

<body>

    <div style="Display: flex; justify-content: center;">
        <h1>Products | <a href="">Categories</a></h1>
    </div>
    <div style="display: flex;">
        <div>
            <h4>New Product</h4>
            <div
                style="Display: flex; Flex-direction: column; justify-content: center; border-right: 2px solid black; width: 450px; margin-top: 50px;">
                <partial name="_NewProduct" model="new Product {}"></partial>
            </div>
        </div>
        <h4 style="margin-left: 50px;">Existing Products</h4>
        <div style="Display: flex; Flex-direction: column; justify-content: center; margin-top: 50px;">
            <div style="margin-left: -200px;">
                <tbody>
                        <tr>
                    @foreach (var prod in @Model)
                    {
                            <td>@prod.ProductName</td><hr>
                    }
                        </tr>
                </tbody>
            </div>
        </div>
    </div>

</body>

</html>